hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-titulo);
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .lista-rodape__link {
        font-size: 14px;
        text-decoration: none;
        color: var(--preto-secundario);
        margin-left: .5em;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
        text-decoration: underline;
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--preto-secundario);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}